@import "variables";

.Report {
  padding-left: $page-gutter;
  padding-right: $page-gutter;

  .page-heading {
    margin: 1em 0 0.5em;
    color: #333;
  }

  .summary {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    .summary-table {
      max-width: 400px;
    }
  }

  .section-heading {
    font-size: 22px;
    margin: 1em 0;
  }

  .form-controls {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    flex-wrap: wrap;

    .form-item {
      align-items: flex-start;
      flex-direction: column;
      margin-top: 1em;
      &:not(:last-child) {
        margin-right: 1em;
      }
    }

    .project-select {
      min-width: 22em;
      max-width: 24em;
      .Select-control {
        border-radius: 6px;
      }
      .Select-input, .Select-control {
        height: 28px;
      }
      .Select-placeholder {
        line-height: 28px;
      }
    }
  }

  .is-loading {
    opacity: 0.6;
    animation: pulse-opacity 1s infinite alternate;    
  }

  .usage-table {
    margin-bottom: 30px;
    min-height: 300px;

    .react-bs-table {
      margin: 1em 0 0;
    }
  }
}

@keyframes pulse-opacity {
  0% {
    opacity: 0.55;
  }
  100% {
    opacity: 0.65;
  }
}