module.exports = {
    billingConfig: {
        api: 'http://localhost:5000',
        password: '',
        rejectInsecure: true,
        username: '',
    },
    emailConfig: {
        fromAddress: 'foo@bar.org',
        replyTo: 'reply@bar.org',
        subject: 'Usage Report',
    },
    emailRecipients: {
        invoice_recipients: [],
        oicr_finance_email: [],
        summary_recipients: [],
    },
    freshbooksConfig: {
        account_id: 'r8XRQ',
        api: 'https://api.freshbooks.com',
        client_id: '',
        client_secret: '',
        grant_type: 'refresh_token',
        invoiceDefaults: {
            allowed_gatewayids: [30],
            cash_only_accounts: ['oicr.on.ca'],
            code: 'CAD',
            invoice_due_days: 0,
            notesprefix: 'OICR CC# 801090\n',
            notessuffix: 'To see details of your usage, please go to: https://billing.cancercollaboratory.org\nIf you pay using Credit card, transactions will appear as "WPY*OICR Cancer Genome Collaboratory" on your statements\nIf you require any additional banking information to make the payment, please contact OICR Finance at: Ashvini.Shan@oicr.on.ca',
            presentation: {
                date_format: 'mm/dd/yyyy',
                image_banner_position_y: 0,
                image_banner_src: null,
                image_logo_src: '/service/uploads/images/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50IjoyOTkwNjc4LCJvcmlnaW5hbF9maWxlbmFtZSI6Ikludm9pY2UtQ2FuY2VyQ29sbGFiLU9JQ1ItbG9nb3MtdjIuanBnIiwiYnVja2V0IjoidXBsb2FkcyIsImZpbGVuYW1lIjoidXBsb2FkLWI5YWYwMzcxMzRhY2YxMzAyZjdjNjNjYjMzNDIxNTJhNDE0OGQ5ZjciLCJsZW5ndGgiOjE0ODExMywia2V5IjoiJ2RvY3MtJy0yOTkwNjc4L3VwbG9hZC1iOWFmMDM3MTM0YWNmMTMwMmY3YzYzY2IzMzQyMTUyYTQxNDhkOWY3In0.TAuJrJUwuH7bldoF_VWNMqZRhQr41BH9_UXwYXXnl2o',
                theme_font_name: 'modern',
                theme_layout: 'simple',
                theme_primary_color: '#1e824c',
            },
            taxNumber1: '86371 2139 RT0001',
            template: 'clean-grouped',
            terms: 'Payment is due upon invoice receipt. Click Pay Now to pay using a major credit card. Canadian Institutions can also send a cheque payable to the Ontario Institute for Cancer Research.\nwww.oicr.on.ca',
        },
        redirect_uri: 'https://cancercollaboratory.org/',
        rejectInsecure: true,
    },
    oicr_admins: ['admin'],
    smtpConfig: {
        auth: null,
        host: '127.0.0.1',
        ignoreTLS: true,
        port: '25',
        secure: false,
    },
};
