<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOGIN</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <strong>{{ message }}</strong>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <form action="{{ url_for('login') }}" method="post">
        <div>
            <label for="username">User Name</label>
            <input id="username" type="text" name="username" value="{{ username }}">
        </div>
        <div>
            <label for="password"> Password </label>
            <input id="password" type="password" name="password">
        </div>
        <div>
            <input type="submit" value="Login">
        </div>
    </form>
</body>
</html>