{% extends "template.html" %}
{% block title_suffix %} PROJECT {% endblock %}
{% block body %}
    <div>
        {% block search_by %}
            Project {{ project_id }}
        {% endblock %}
    </div>
    <br/>
    <div>
        From {{ start_date }} <br/> &nbsp &nbsp to {{ end_date }}
    </div>
    <br/>
    <div>
        {% block instance_core_hours %} VM Instance Core Hours: {{ instance_core_hours }} {% endblock %}
        <br/>
        {% block volume_gb_hours %} Volume GigaByte Hours: {{ volume_gb_hours }} {% endblock %}
        <br/>
        {% block image_gb_hours %} Image GigaByte Hours: {{ image_gb_hours }} {% endblock %}
    </div>
    <br/>
    Users in this project
    {% for user in users %}
        <li>
            <a href="{{ url_for('calculate_cost_by_user',
                                start_date=start_date,
                                end_date=end_date,
                                project_id=project_id,
                                user_id=user.user_id) }}"> {{ user.user_id }}</a>
            {% if user.user_id == current_user_id %}
                <- ME!
            {% endif %}
        </li>
    {% endfor %}

{% endblock %}