<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OpenStack Usage Billing{% block title_suffix %}{% endblock %}</title>
</head>

<body>
    <form action="{{ url_for('calculate_cost') }}" method=get>
        <div>
            Start Date (yyyy-mm-dd)
            <input type="date" name="start_date" autocomplete="on" value="{% block start_date %}{% endblock %}">
        </div>
        <div>
            &nbsp; End Date (yyyy-mm-dd)
            <input type="date" name="end_date" autocomplete="on" value="{% block end_date %}{% endblock %}">
            <input type="submit" value="Submit">
        </div>
    </form>
    <br/>
    <div>
        {% block body %}{% endblock %}
    </div>
</body>
</html>