<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OpenStack Usage Billing{% block title_suffix %}{% endblock %}</title>
</head>

<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <strong>{{ message }}</strong>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <form action="{{ url_for('calculate_cost_by_project') }}" method=get>
        <div>
            <label for="start_date">Start Date (yyyy-mm-dd)</label>
            <input id="start_date" type="date" name="start_date" autocomplete="on" value={{ start_date }}>
        </div>
        <div>
            <label for="end_date"> End Date (yyyy-mm-dd)</label>
            <input id="end_date" type="date" name="end_date" autocomplete="on" value={{ end_date }}>
        </div>
        <div>
            <label for="project_id">Project </label>
            <select id="project_id" name="project_id">
                {% for project in projects %}
                    <option value="{{ project.project_id }}" {% if project_id == project.project_id %}selected{% endif %}>
                        {{ project.project_id }}
                    </option>
                {% endfor %}
            </select>
            <input type="submit" value="Search by project">
        </div>
    </form>
    <br/>
    <div>
        {% block body %}{% endblock %}
    </div>
    <div>
        <br/>
        <br/>
        <br/>
        <br/>
        <a href="{{ url_for('logout') }}">Log out</a>
    </div>
</body>
</html>