@import "variables";

.Header {
  border-bottom: 1px solid #ebebeb;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;

  .logo {
    width: 300px;
    margin: -35px $page-gutter 10px;
  }

  .logout {
    margin: 10px $page-gutter;
    cursor: pointer;
  }
}

.topbar {
  height: 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  background-color: #444444;

  .link-container {
    margin: 5px $page-gutter;

    .links {
      font-weight: bold;
      font-size: 12px;
      color: lightsteelblue;
    }
  }
}
