{
  "smtpConfig": {
    "host": "localhost",
    "port": "25",
    "secure": false,
    "ignoreTLS": true,
    "auth": null
  },
  "emailConfig": {
    "fromAddress": "foo@bar.org",
    "subject": "Usage Report",
    "replyTo": "reply@bar.org"
  },
  "billingConfig": {
    "api": "http://localhost:5000",
    "username": "",
    "password": "",
    "rejectInsecure": true
  },
  "invoiceConfig": {
    "api": "http://localhost:4000"
  },
  "invoiceNumberPrefix": "OCG-"
}